.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #2C2C2C;
    padding: 6.25rem;
}

@media screen and (max-width:90rem) {
    .container {
        grid-template-columns: 1fr 1fr;
        width: 100%;
    }
}

@media screen and (max-width:60rem) {
    .container {
        grid-template-columns: 1fr;
        width: 100%;
    }
}