.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #2C2C2C;
    padding: 5rem 1rem 1rem;
}

@media screen and (max-width:48rem) {
    .container {
        grid-template-columns: 1fr;
        width: 100%;
    }
}