.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: white;
    margin: 2rem;
    padding: 0.625rem;
    border: 1px solid white;
    border-radius: 10px;
}

.container:hover {
    transform: scale(1.1);
}

.content {
    display: grid;
    grid-template-rows: repeat(3, minmax(3.125rem, auto));
    margin: 0.625rem;
}

.movie_title {
    text-decoration: none;
    color: white;
}

.movie_title:hover {
    color: #A9CEC2;
}

@media screen and (max-width:48rem) {
    .container {
        grid-template-columns: 1fr;
        place-items: center;
    }

    .content {
        display: grid;
        grid-template-rows: repeat(1, minmax(3.125rem, auto));
        margin: 0.625rem;
    }
}