.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #595959;
    padding: 15px 30px;
}

.navbar__menu {
    display: flex;
    list-style: none;
}

.navbar__menu li {
    padding: 8px 12px;
}

.navbar__menu li :hover {
    color: black;
    background-color: #A9CEC2;
    border-radius: 4px;
    padding: 8px 12px;
}


.link {
    text-decoration: none;
    color: white;
}